* {
    padding: 0;
    border: 0;
    margin: 0;
}

img {
    float: left;
    margin-top: 1.3em;
    padding: 0em;
}
.nav {
    list-style-type: none;
    padding: 1em;
    background-color: black;

}

.nav-item   {
    display: inline-block;
    margin: .5em;
    padding: .5em;
    color: white;
}

.try    {
    background-color: white;
    height: 50px;
    margin-left: 0;
    text-decoration: none;
}
.try-about  {
    text-decoration: none;
}
.try-music  {
    line-height: 50px;
    float: left;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
}

.try-lists  {
    line-height: 50px;
    float: right;
    display: inline-block;
    text-decoration: none;
    padding: 0 .5em;

}

.btn    {
    float: right;
    background-color: #FF2F56;
    border: none;
    font-size: .8em;
    color: white;
    display: inline-block;
    border-radius: 10em;
    padding: .5em 1em;
    margin: 1em .5em;
}

h1  {
    margin: 0 1em;
    padding: 1em;
    font-size: 5em;
    text-align: center;

}

.main   {
    width: 100%;
    text-align: center;
    line-height: 100px;
    background-image: linear-gradient(rebeccapurple, purple, deeppink, hotpink);
    background-size: 100em;
    color: #ffffff;
}

.footer {
    margin-left: 1em 0em;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    background-color: black;
}

.btns    {
    background-color: #FF2F56;
    border: none;
    font-size: .8em;
    color: white;
    display: inline-block;
    border-radius: 10em;
    padding: .5em 1em;
    margin: 1em .5em;
